html, body {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(75,100,175);
    width: 100%;
    height:100%;
}

#mainTitle {
    color: white;
    text-shadow: -2px 2px rgb(25, 50, 100);
    text-decoration: underline;
    padding-left: 5%
}

#mainImage{
    width: 100%;
    object-fit: contain;
    object-position: top;
}

#mainImageContainer {
    height:15em;
}

.imageContainer {
    overflow: hidden;
}

@media screen and (min-width: 481px) {

    ul {
    width: 90%;
    margin: auto;
    }

    ul li {
        list-style: none;
        width: 30%;
        padding-left: 1.4%;
        padding-right: 1.4%;
        position: relative;
        float: left;
        margin-bottom: 2%;
    }

    ul li h3 {
        margin: 0%;
        padding: 0%;
        padding-left: 5%;
        color: white;
        background-color: rgb(25,50,100);
        text-shadow: -2px 2px rgb(25, 50, 100);
        font-size: 1.7em;
    }

    ul li div {
        width: 100%;
        outline: 1px solid white;
        display: block;
        resize: none;
    }

    .imageContainer {
        overflow:hidden;
    }

    ul li img {
        width: 32em;
        object-fit: contain;
        display: block;
        overflow: hidden;
        background: linear-gradient(to right, white, black);
        mix-blend-mode: normal;
    }

    ul li div p {
        position: absolute;
        width: 35%;
        text-align: justify;
        z-index: -3;
        color: white;
        font-size: 140%;
    }

    ul li:hover .imageContainer{
        transition: width 0.5s;
        width: 50%;
    }

}

@media screen and (max-width: 480px) {
    #mainImageContainer {
        width: 100%;
        height: 35%;
    }

    #mainImage {
        width: 100%;
    }

    #mainTitle {
        margin: 0%;
        padding-top: 2%;
    }

    ul {
        padding: 0px;
        width: 100%;
    }

    ul::before {
        clear: both;
    }

    ul li {
        width: 45%;
        display: block;
        list-style: none;
        float: left;
        position: relative;
        margin: 0%;

        padding-left: 2.5%;
        padding-right: 2.5%;

        object-fit: contain;
    }

    ul li img {
        width: 100%;
        
    }

    ul li h3 {
        margin: 0px;
        color: white;
    }

    ul li p {
        color: white;
        transform: none;
        margin: 0px;
        margin-bottom: 5%;
    }
}

